.sudoku-cell {
  text-align: center;
  font-size: 30px;
  font-weight: 600;

  border: none;
  outline: none;

  --cell-bg: #fff;
  background-color: var(--cell-bg);
  color: var(--text-dark);

  caret-color: transparent;
  user-select: none;
}

.sudoku-cell::selection {
  background: transparent;
}

.sudoku-cell:hover {
  cursor: default;
}

.sudoku-cell.prefilled {
  --cell-bg: #f7f7f7;
  color: #000;
  font-weight: 700;
  cursor: default;
}

.sudoku-cell.highlight {
  --cell-bg: var(--blue-light);
}

.sudoku-cell.highlight-value {
  --cell-bg: var(--blue-bg);
  font-weight: 700;
}

.sudoku-cell.invalid {
  color: var(--danger-red);
  --cell-bg: #fdecea;
}

.sudoku-cell.selected {
  --cell-bg: var(--blue-medium);
}

.sudoku-cell-wrapper {
  position: relative;
  width: 48px;
  height: 48px;

  box-sizing: border-box;
  border: 1px solid var(--border-gray);
}

.sudoku-cell-wrapper.border-left {
  border-left: 2px solid black;
}

.sudoku-cell-wrapper.border-right {
  border-right: 2px solid black;
}

.sudoku-cell-wrapper.border-top {
  border-top: 2px solid black;
}

.sudoku-cell-wrapper.border-bottom {
  border-bottom: 2px solid black;
}

.sudoku-cell-wrapper input {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  padding: 0;
}

.candidates {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 10px;
  color: #666;
  z-index: 2;
  pointer-events: none;
}

.candidates span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.candidates span.off {
  visibility: hidden;
}

@media (max-width: 480px) {
  .sudoku-cell-wrapper {
    width: 36px;
    height: 36px;
  }

  .sudoku-cell {
    font-size: 22px;
  }

  .candidates {
    font-size: 8px;
  }
}
